@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; */
  height: 100%;
}

container {
  max-width: 1400px;

}

header,
footer {
  background-color: #c5dbf0;
  border-radius: 20px;
  height: 30px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: left; 
}

main {

}

main section {
  
}